<div class="container">
  <h1>Contact Me</h1>
  <p>Name: Nguyễn Phát</p>
  <p>Email: nguyenphatssj0612@gmail.com</p>
  <p>Phone: 0382909902</p>
  <p>Address: 26/10 hẻm 9, Lê Hồng Phong, Bình Thủy, Bình Thủy, Cần Thơ</p>
</div>
