<table class="table">
  <a href="add"><button class="btn btn-primary">Thêm</button></a>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Fullname</th>
      <th scope="col">Address</th>
      <th scope="col">Setting</th>
    </tr>
  </thead>
  <tbody>
    <% data.rows.forEach(function(user, index) { %>
    <th scope="row"><%= index + 1 %></th>

    <td><%= user.username %></td>

    <td><%= user.fullname %></td>

    <td><%= user.address %></td>

    <td>
      <button class="btn btn-primary">Sửa</button>
      <button class="btn btn-danger">Xóa</button>
      <button class="btn btn-info">Xem</button>
    </td>

    <% }); %>
  </tbody>
</table>
